:root {
  /* COR ESTILOS */
  --corP01: #761400;
  --corP02: #772211;
  /* PRINCIPAL P02*/
  --corE03: #00417A;
  --corS01: #111111;
  --corS02: #444444;
  --corS03: #999999;
  --corS04: #BABABA;
  --corS05: #D7DBDC;
  --corBranca: #FFFFFF;
  --corPreta: #000000;
  --corAlertaAmarelo: #FED301;
  --corAlertaVermelho: #A81926;
  --corTituloContraste: #AE1D00;


  /* FONTE ESTILOS*/
  --pesoBold: bold;
  --pesoRegular: regular;
  --alturaTitulo: 1.1;
  --alturaParagrafo: 1.5;
  --alturaLink: 1.2;

  /* FONTE TAMANHO DESKTOP */
  --tamanhoH1: 3.375rem;
  --tamanhoH2: 2.5rem;
  --tamanhoH3: 1.875rem;
  --tamanhoTitulo: 4rem;
  --tamanhoParagrafo: 1.375rem;
  --tamanhoLink: 1rem;


  /*FONTE TAMANHO MOBILE*/
  --tamanhoH1m: 2rem;
  --tamanhoH2m: 1.875rem;
  --tamanhoH3m: 1rem;
  --tamanhoTitulom: 1.375rem;
  --tamanhoParagrafom: 1rem;
  --tamanhoLinkm: 0.75rem;

}

html {
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
  color: var(--corS01);
}

html.ativo{
  font-size: 20px;
}



body,html,
h1,
h2,
h3,
p,
span,
li,
ul, section, dl, fieldset {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: var(--corBranca);
}

ul {
  list-style: none;
}


button{
  border: 1px solid #fff;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-weight: var(--pesoBold);
}

button.ativo{
  background-color: #fff;
  color: #000;
}