:root {
  /* COR ESTILOS */
  --corP01: #761400;
  --corP02: #772211;
  /* PRINCIPAL P02*/
  --corE03: #00417A;
  --corS01: #111111;
  --corS02: #444444;
  --corS03: #999999;
  --corS04: #BABABA;
  --corS05: #D7DBDC;
  --corBRANCA: #FFFFFF;
  --corALERTA: #FED301;
  --corALERTAVERMELHO: #A81926;
  --corTITULOCONTRASTE: #AE1D00;


  /* FONTE ESTILOS*/
  --pesoBold: bold;
  --pesoRegular: regular;
  --alturaTitulo: 1.1;
  --alturaTexto: 1.5;
  --alturaLink: 1.2;

  /* FONTE TAMANHO DESKTOP */
  --tamanhoH1: 3.375rem;
  --tamanhoH2: 2.5rem;
  --tamanhoH3: 1.875rem;
  --tamanhoTITULO: 4rem;
  --tamanhoParagrafo: 1.375rem;
  --tamanhoLink: 1rem;


  /*FONTE TAMANHO MOBILE*/
  --tamanhoH1m: 2rem;
  --tamanhoH2m: 1.875rem;
  --tamanhoH3m: 1rem;
  --tamanhoTITULOm: 1.375rem;
  --tamanhoParagrafom: 0.875rem;
  --tamanhoNavm: 0.75rem;
  --tamanhoLinkm: 0.75rem;

}

html {
  font-family: 'Urbanist', Arial, Helvetica, sans-serif;
}

body,html,
h1,
h2,
h3,
p,
span,
li,
ul {
  margin: 0px;
  padding: 0px;
}

img {
  padding: 0px;
  margin: 0px;
  height: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}