.contatoContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 80px;
}

.contatoConteudo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.contatoTitulo h2 {
  font-size: var(--tamanhoH2);
  font-weight: var(--pesoBold);
  line-height: var(--alturaTitulo);
  margin-bottom: 80px;
  padding-left: 16px;
  padding-right: 16px;
}

.contatos {
  color: var(--corBranca);
  background-color: var(--corS01);
  display: flex;
  flex-direction: column;
  padding: 32px 16px 0px 16px;
  flex-shrink: 0;
  flex-grow: 1;
  flex-basis: 200px;
}

.contatos h3 {
  margin-bottom: 60px;
  font-size: var(--tamanhoH3);
  line-height: var(--alturaTitulo);
  font-weight: var(--pesoBold);
}

.contatoItem {
  font-size: var(--tamanhoLink);
  font-weight: var(--pesoBold);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 80px;
}

.contatoItem a {
  padding: 16px 0px;
}

.contatoItem a:hover {
  color: var(--corS03);
}

@media(max-width:1063px) {
  iframe {
    width: 600px;
  }
}


@media(max-width:800px) {
  .contatoConteudo {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media(max-width:600px) {
  .contatoContainer {
    padding-top: 48px;
  }

  iframe {
    width: 500px;
  }

  .contatoTitulo h2 {
    font-size: var(--tamanhoH2m);
    margin-bottom: 60px;
  }
}

@media(max-width:500px) {
  iframe {
    width: 400px;
  }
}

@media(max-width:400px) {
  iframe {
    width: 300px;
  }
}